footer{
    background-color: #2E3D59;
    height: 50%;
    width: 100%;
    position: relative;
}
.bottom{
    text-align: center;
}
p{
    color: white;
}
#footer-font-list{
    font-size: small;
}
.bottom-font{
    color: white;
}
.solid-line{
    border-bottom: 1px solid grey;
}
.bottom-icons{
    color: #BAF266;
}
.ul-list li{
    list-style-type: none;
    font-size: 20px;
}
.footer-links{
    color: white;
}
