.list-group-sm .list-group-item{
    padding: 1.25rem;
}


.custom-control-label img{
    max-width: 70px;
    margin-bottom: 3px;
}

.bold-simple{
    font-weight: 800;
    margin-bottom: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
}

.payment-form-control{
    height: 54px;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: none;
    padding: .5rem .75rem;
    border: 1px solid #e6eaf3;
    background-clip: initial;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    display: block;
    width: 100%;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


