/**Colors: #B8C0D9 #2E3D59 #85D3F2 #76BF41 #BAF266 **/


 
html, body {
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}

p {
    margin: 0;
}

ul li, ol li {
    font-size: 14px;
}

ul,label{
	margin:0;
	padding:0;
}

a {
	margin:0;
	font-weight:700;
}

.menu{
    background: #76BF41;
}

.navbar{
    margin-bottom: 0;
    border: none;
    min-height: 50px;
}

.navbar-header{
    float: left;
}

.navbar-collapse{
    padding: 0;
    box-shadow: none;
    display: inline-block;
}

.navbar-nav{
    float: left;
    margin: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: sticky;
}



.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
}

ul.nav.navbar-nav {
    display: inline-block;
}