html, body {
    font-size: 100%;
	font-family: 'Dosis', sans-serif;
	background:#ffffff;
}
   
   .my-navbar{
   background-color: #76BF41;
   }
   
   .nav-item .nav-link{
       color:white;
       font-size:140%;
       font-family: 'Dosis', sans-serif;
       letter-spacing: 2px;
       margin: 0px 10px;
   }
   .mega-menu{
       background-color: transparent;
   }
   .dropdown:hover .dropdown-menu{
       display: block;
   }
   
   .dropdown-menu{
       border:none;
   }
   ul.navbar-nav{
       margin-left: 32%;
   }
   li.nav-item.active{
        margin-right: 15%;
   }
   .dropdown-item{

       color:#ffffff;
       font-weight: lighter;
       font-family: 'Dosis', sans-serif;
       background-color:#76BF41;
       transform-origin: center;
       animation :rotate 1.5s ease 1;
   }
   @keyframes rotate{
       0%{transform: perspective(600px) rotatey(90deg); transform-origin:center;}
       100%{transform: perspective(600px) rotatey(0deg); transform-origin:center;}
   }
   
   .dropdown-item:nth-of-type(1){
       animation-delay: 0s;
   }
   .dropdown-item:nth-of-type(2){
       animation-delay: 0.1s;
   }
   .dropdown-item:nth-of-type(3){
       animation-delay: 0.2s;
   }
   .dropdown-item:nth-of-type(4){
       animation-delay: 0.3s;
   }
   .dropdown-item:nth-of-type(5){
       animation-delay: 0.4s;
   }
   .dropdown-item:nth-of-type(6){
       animation-delay: 0.5s;
   }
   .dropdown-item:nth-of-type(7){
    animation-delay: 0.6s;
}
   
   .dropdown-item:hover{
       background-color: #2E3D59;
       color:white;
   }
   
   .navbar-brand{
       font-size: 30px;
       font-family: 'Dosis', sans-serif;
       color:#BAF266;
       letter-spacing: 2px;
   }