.header {
    background: #fff;
    z-index: 4;
}

.header_nav {
    background: #B8C0D9;
}

.shop_category {
    padding: 19.8px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #2E3D59 !important;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

div#myCategories {
    position: absolute;
    z-index: 2;
    top: 100%;
}

.main_header{
    background: #2E3D59;
    min-height: 100px;
    display: flex;
    position: relative;
    align-items: center;
}

.blocks.shop_cart {
    float: right;
    margin-top: 3px;
}

.single_shop_cart {
    display: flex;
    float: left;
    margin-right: 1.5rem;
    align-items: center;
}

.ss_cart_content {
    flex: 1;
}

.ss_cart_content strong {
    display: block;
    color: #76BF41;
}

.ss_cart_content span {
    color: #fff;
}
.ss_cart_left {
    margin-right: 7px;
}

.blocks.search_blocks {
    max-width: 55%;
    margin-top: 6px;
}
.ss_cart_left .cart_box {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.075);
    border: 1px solid rgba(118, 191, 65, 0.2);
    color: #76BF41 !important;
    position: relative;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.search_blocks button.btn.search_btn {
    border: none;
    background: #fff;
    color: #76BF41;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
}

.search_blocks .form-control {
    border: none;
}

.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

