/**Colors: #B8C0D9 #2E3D59 #85D3F2 #76BF41 #BAF266 **/


 
html, body {
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}

p {
    margin: 0;
}

ul li, ol li {
    font-size: 100%;
}

ul,label{
	margin:0;
	padding:0;
}

a {
	margin:0;
	font-weight:700;
}

.menu{
    background: #76BF41;
}

.navbar{
    margin-bottom: 0;
    border: none;
    min-height: 10%;
    padding: .5rem 3.2rem;
}

.navbar-header{
    float: left;
}

.navbar-collapse{
    padding: 0;
    box-shadow: none;
    display: inline-block;
}

.navbar-nav{
    float: left;
    margin: 0;
    flex-direction: row;
    
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.nav > li {
  position: relative;
  margin-right: 45%;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 105%;
}
.minav .nav-link{
    color: white;
    font-size: 105%;
}
.mimenu{
    background-color: transparent;

}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    border: none;
    background-color: #76BF41;
}
.dropdown-item{
    color: white;
    font-weight: lighter;
    transform-origin: center;   
    animation: rotate  1.5s ease 1;
}
@keyframes rotate{
    0%{transform: perspective(600px) rotatey(90deg);
    transform-origin:center;}
    100%{transform: perspective(600px) rotatey(0deg);
        transform-origin:center;}
}
.dropdown-item:nth-of-type(1){
    animation-delay: 0s;
}
.dropdown-item:nth-of-type(2){
    animation-delay: 0.1s;
}

.dropdown-item:nth-of-type(3){
    animation-delay: 0.2s;
}

.dropdown-item:nth-of-type(4){
    animation-delay: 0.3s;
}

.dropdown-item:nth-of-type(5){
    animation-delay: 0.4s;
}
.dropdown-item:hover{
    background-color: #85D3F2;
    color: white;
}
.navbar-brand{
    text-transform:uppercase;
    color: white;
}