.top_bar{
    background-color: #2E3D59;
}
.barra_busqueda{
    vertical-align: middle;
}
.logo{
    width: 10rem;
    height: 2rem;
}
.fas{
    color: white;
}
.fa-phone-alt{
    color: white;
}
.circle{
    background: #85D3F2;
    padding: 15px;
    border-radius: 50%;
}
.footer{
    background-color: #2E3D59;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bottom{
    text-align: center;

}
p{
    color: white;
}